# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sublime-*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Программирование на Си. 0002. Подготовка.-Z3DLHNrDI-U.mp4.part
/FILE*
Iter16smth9
dipl*